.container {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: black;
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: var(--shadow-xl);
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}